@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
body{
    background-image: url("sfondo/nuvole.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif ;
    border: 0px;
    margin: 0px;
    padding: 10px;
    display: block;
    background-attachment: fixed;
}
*{
    font-size: 105%;
}

footer{
    background-color: #04aa6da2;
    padding: 15px;
    color: gold;
    font-family: 'Playfair Display', serif;
}
.ar{
    color:gold;
}
.accedi{
    border-radius: 20px;
     font-size: 110%;
     padding: 10px;
     padding-top: 6px;
     padding-bottom: 6px;
     color: gold;
     margin-top: 17px;
     margin-right: 20px;
     background-color: #04aa6d00;
     margin-left: 10px;
     padding-right: 25px;
     padding-left: 25px;
}
.pul{
    font-size: 75.5%;
    border-color: gold;
    float: right;
    color: gold;
    border-radius: 20px;
    margin: 0px;
}

.accedi:hover{
    
    background-color: #04aa6da2;
    color: gold;
    cursor: pointer; 
    margin: black; 
    
}

header{
    background-color: #04aa6da2;
    font-size: 200%;
    color: white;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    margin-bottom: 0px;
    box-shadow: 0px 0px 13px 0.5px rgba(0,0,0,0.75);
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
header nav{
    font-size: 50%;
    margin: 0;
    border-radius: 0px;
    
}

header span{
    color: gold;
    padding: 25px;
    padding-right:0;
}
header span, header div{
    display: inline-block;
}
header div button{
    color: white;
}

img { 
    border: 1px solid #000; 
    border-radius: 20px;
    box-shadow: 0px 0px 13px 0.5px rgba(0,0,0,0.75);
}

.cardstyle{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70%;
}
.card1{
    font-size: 70%;
    background-color: rgba(248, 217, 43, 0.534);
    color: black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin: 0;
    padding: 15px;
    display: none;
    position: absolute; 
    top: 202px;
    right: 10px;
    left: 10px; 
}
.card2{
    font-size: 70%;
    background-color: rgba(248, 217, 43, 0.534);
    color: black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin: 0;
    padding: 15px;
    display: none;
    position: absolute; 
    top: 202px;
    right: 10px;
    left: 10px; 
}
.card3{
    font-size: 70%;
    background-color: rgba(248, 217, 43, 0.534);
    color: black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin: 0;
    padding: 15px;
    display: none;
    position: absolute; 
    top: 202px;
    right: 10px;
    left: 10px; 
}
nav ul li:hover .card3{
    display: block;
}
nav ul li:hover .card1{
    display: block;
}
nav ul li:hover .card2{
    display: block;
}


.li{
    margin: 0;
}
.testo{
    color: black;
    font-size: 90%;
    background-color: rgba(133, 140, 165, 0.8);
    text-align: center;
    border-top: 5px solid gold;
    border-bottom: 5px solid gold;
    padding: 1px;
    box-shadow: 0px 0px 13px 0.5px black;
    margin: 40px;
    margin-right: 0;
    margin-left: 0;
}
.due{
    font-size: 50%;
}
nav{
    background-color: #04aa6d00;
    color: gold; 
    box-shadow: 0px -5px 15px 0.5px rgba(0,0,0,0.75);
    text-align: center;
    margin: 40px;
    border-top: 2px solid black;
   
}
nav ul{
    padding: 0;
    margin: 0;
}
nav ul li{
    display: inline-block;
    list-style-type: none;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
}
nav ul li:hover{
    background-color: rgba(31, 81, 100, 0.411);
    cursor: pointer; 
    
}
nav ul li a{
    color: gold;
    text-decoration: none;
}



.piani-title{
    padding: 15px;
    margin: 0px;
    margin-top: 95px;
    box-shadow: 0px 0px 20px 0.5px rgba(0,0,0,0.75);
    font-size: 35px;
    font-weight: bold;
    padding-top: 20px;
    background-color: #04aa6da2;
    color: gold;
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.piani{
    border: 2px solid black;
    margin-left: 300px;
    margin-right: 300px;
}    

.tutorial{
    font-family: 'Playfair Display', serif;
    font-size: 120%;
    margin-bottom: 10px;
    font-size: 200%;
}
video{
    margin-bottom: 50px;
}

table{
    background-color: #04aa6d00;
    color: gold;
    margin-top: 0px;
    padding: 15px;
}
th{
    font-size: 100%;
    padding-left: 130px;
    padding-right: 130px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: rgba(255, 217, 0, 0.527);
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    color: rgb(20, 20, 228);
}
.tab{
    background-color: #04aa6da2;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    box-shadow: 0px 0px 20px 0.5px rgba(0,0,0,0.75);
    margin-top: 25px;
    padding: 30px;
}
tr{
    text-align: center;
}

td /*.title-span*/{
    padding: 13px;
    background-color: rgba(31, 81, 100, 0.411);
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    
    text-align: left;
}


.mese{
    font-size: 70%;
}
.info{
    font-size: 50%;
    border-radius: 9px;
    padding: 5px;
}

img{
    opacity: 0.76;
}

button{
    border-radius: 20px;
    font-size: 140%;
    padding: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: gold;
    margin-top: 17px;
    background-color: #04aa6da2;
    margin-left: 10px;
    padding-right: 15px;
    padding-left: 15px;
    
}
button:hover{
    background-color: #04aa6da2;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
    cursor: pointer;
}

.infouno, .infodue{
    display: none;
    background-color: none;
    color: rgb(20, 20, 228);
    text-align: center;
    padding-top: 10px;
    font-size: 140%;
    
}
.info:hover .infouno, .infodue:hover .infodue{
    display: block;
}
.centro{
    width: 0px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding-right: 55px;
    padding-left: 55px;
}